
.card-body
    a
        text-decoration: none !important
    .fa-trash-o
        cursor: pointer
        color: rgba(255, 0, 0, 0.86)
        &:hover
            color: rgba(191, 0, 0, 0.86)
    .fa-eye
        cursor: pointer
        color: #989898
        &:hover
            color: rgba(81, 81, 81, 0.86)
.form-group
    .btn
        font-size: 0.9rem !important