
.card-body
    .btn
        font-size: 1rem
    a
        text-decoration: none !important
    .fa-trash-o
        color: rgba(255, 0, 0, 0.86)
        &:hover
            color: rgba(191, 0, 0, 0.86)
